@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&display=swap');

body{
  min-height: 100vh;
}

h1{
	padding: 0 0 14px;
	font-size: 7em;
  margin: 0;

}

.wisdom{
	font-family: 'Rouge Script', cursive;;
}

#x{
  font-family: 'Jura',cursive;
  font-weight: 100;
  color: #808B96;
  font-size: 1em;
}

/* Samineon */

.h1one , .h1two{
  font-family: Trajan Pro, Cinzel;
  font-size: 1.4em;
}

.h1one{
  color: #E74C3C;
}

.h1two{
  color: #2471A3;
}

#h1samineon{
  font-size: 0.4em;
}

/* Mobile Menu */


.topnav {
  overflow: hidden;
  position: relative;
}

.topnav #myLinks {
  display: none;
  background-color: black;
  color: #ffffff;
  text-align: center;
}

.topnav a {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav #myLinks.a:hover {
  background-color: #ddd;
  color: black;
}

#samineon{
  padding: 11px 0 5px 16px;
  background-color: #F4F6F6;
}

/** Content Section **/

hr{
  width: 70%;
  margin: auto;
}

#test{
  margin: 40px 18px;
}

#quote{
  text-align: center;
  font-family: 'Cookie', cursive;
  font-size: 1.3em;
  color: #5D6D7E;

}

nav.navbar{
  background-color: #000;
}

li.nav-item{
  padding: 0 30px;
}

a.nav-link{
  color: #ffffff;
}

li.active{
  background-color: #3498DB;
}


/* --------- Search Bar -----------*/
 svg{
  margin: 0 5px 0 20px;
 }

#myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 80%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin: 0 0 3.5%;
}



/*------------ Cards -------------*/

.container{
  margin: 20px 0;
}

div.container{
  margin: auto;
}

div.card{
  margin: 10px 0;
}

h4.card-title, p.card-text{
  margin-left: 15px;
}

.card-btn{
  width: 100px;
  margin: 0 0 20px 15px;
  background-color: #2874A6;
  color: #fff;
}

/*---------------- CSS for Article ------------*/

.article-header, .article-body, .references{
  margin: 20px 0 20px 10px; 
}

#article-img{
  max-width: 100%;
  height: auto;
}

.article-header{
  font-family: 'Arsenal', sans-serif;
  font-size: 2.5em;
}

.article-body{
  font-family: 'IBM Plex Serif', serif;
  font-size: 1.1em;
  font-weight: bold;
}

.references{
  font-family: 'B612', sans-serif;
  text-decoration: underline;
  display: block;
  margin: 50px 0 10px 10px;
}

.last-updte{
  font-size: 0.8em;
  font-family: Roboto Mono;
}


/* ---- Footer --- */

footer{
  background-color: #f2f3f4;
  padding: 20px 0;
}

footer p{
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.74em;
  font-weight: bold;
  letter-spacing: -0.050em;
}

#license{
  font-size: 0.5em;
  color: black;
  margin: 5px 0 7px;

}


/* ------------- Custom ScrollBar ---------------- */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 7px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #D5DBDB; 
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /*background: linear-gradient(to bottom, #5DADE2, #48C9B0, #58D68D, #F7DC6F, #F8C471, #E59866, #EC7063);*/
  background:  linear-gradient(to bottom, #5DADE2, #48C9B0, #58D68D);
}

/* ----------- Cookies Callout -------------*/


.callout {
  position: fixed;
  bottom: 35px;
  right: 20px;
  margin-left: 20px;
  max-width: 300px;
}

.callout-container {
  padding: 15px;
  background-color: #E74C3C;
  color: #ffffff;
}

.callout-container p a{
  color: #00F3FF;
  text-decoration: underline;
}

.closebtn {
  position: absolute;
  bottom: 8px;
  right: 35%;
  color: black;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  border-width: 0;
  font-family: Roboto Mono;
  font-weight: bold;
}

.closebtn:hover {
  color: lightgrey;
}

/*style for other links list*/

#itemInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 60%;
  font-size: 1em;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin: 12px 0 12px 20%;
}

#itemTable {
  border-collapse: collapse;
  width: 100%;
  border: 1.6px solid #ddd;
  font-size: 1em;
  width: 80%;
  margin: auto;
}

#itemTable th, #itemTable td {
  text-align: left;
  padding: 12px;
}

#itemTable tr {
  border-bottom: 1px solid #ddd;
}


/* -------------  MEDIA QUERIES ----------------*/

@media screen and (min-width: 768px){

  footer p{
  font-size: 1em;
  padding: 25px 0;
  letter-spacing: 0.1em;
  }

  #license{
  font-size: 0.85em;
  margin: 8px 0 9px;

  }

  #quote{
  font-size: 1.7em;

 }

 #myInput {
  width: 400px;
 }

 svg{
  margin-left: 60%;
 }


}


